*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  width: 100%;
  text-align: center;
  background-color: lightgray;
  border-collapse: collapse;
}
th,
tr,
td {
  border: 1px solid white;
}
.wrapper {
  padding: 20px;
}